.page_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

.admin_panel_container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  min-width: 360px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
