.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.admin_panel_container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  min-width: 300px;
  margin: 0 20px;
}

.tracks_list {
  background-color: rgba(128, 128, 128, 0.1);
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.tracks_list_span {
  font-size: small;
}

.new_player_name {
  background-color: rgba(128, 128, 128, 0.1);
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.new_player_name_span {
  font-size: small;
}
