.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.player_container {
  box-sizing: border-box;
  padding: 1px;
  margin: 1px;

  height: 50px;
  width: 98%;
  max-width: 730px;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  color: white;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  border: 1px solid #00b399;
  border-radius: 10px;
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  transition: height 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &__active {
    height: calc(50px + 52px);
  }
}

.player_divider {
  height: 1px;
  width: 100%;
  background: #ededed;
  position: absolute;
  bottom: 50px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;

  &__active {
    display: block;
    opacity: 1;
  }
}

.player_controls_wrapper {
  box-sizing: border-box;
  height: 49px;
  margin-right: 20px;
  box-sizing: border-box;

  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 10px;
}

.player_cta_section {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: flex;
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
  animation: 0.3s 0.1s ease both;
  &__active {
    opacity: 1;
  }
}

.player_cta_button {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 14px;
  font-size: 12px;
  height: 0;
  width: 220px;
  background-color: #00b399;
  transform: scale(0.9);
  opacity: 0;
  cursor: pointer;

  &__active {
    display: flex;
    height: 22px;
    opacity: 1;
    transition: opacity 0.2s, transform 0.2s;
    transition-delay: 0.2s;
  }
}

.progress_bar_wrapper {
  width: 280px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 430px) {
    margin-right: 15px;
  }
  @media (max-width: 360px) {
    margin-right: 5px;
    margin-left: 5px;
    width: 210px;
  }
}

.track_title {
  position: fixed;
  bottom: 32px;
  user-select: none;
}

.track_title_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player_controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.playPause_btn_wrapper {
  margin-right: 10px;
  transition: margin 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playPause_btn {
  position: relative;
}

.track_image {
  position: relative;
  z-index: 1;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  filter: grayscale(100%);

  &__active {
    filter: grayscale(0%);
  }
}

.player_indicators_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
