.initial_controls_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  width: 100%;

  padding: 0 5px 5px 5px;
}

.text_link {
  font-family: 'SBSansDisplay-Light';
  text-decoration: none;
  font-size: 15px;
  line-height: 1.33;
  font-weight: 400;
  letter-spacing: 0em;
  color: white;

  &:hover {
    color: white;
  }
}

.button_play {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  height: 30px;
  width: 167px;
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-style: none;
  background-color: #00b399;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
